* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}
.container {
    margin: 0 auto;
    width:1024px;
}
.character-panel {
    position: relative;
    width: 360px;
    height: 480px;
    float: left;
}
.character-items .background {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-image: url('../images/character-panel-bg.png') ;
}
.character-items .slot {
    width: 45px;
    height: 45px;
}

.character-items .slot-head {
    position: absolute;
    top: 22px;
    left: 95px;
}
.character-items .slot-chest {
    position: absolute;
    top: 22px;
    left: 219px;
}
.character-items .slot-earring1 {
    position: absolute;
    top: 61px;
    left: 41px;
}
.character-items .slot-ring1 {
    position: absolute;
    top: 61px;
    left: 279px;
}
.character-items .slot-earring2 {
    position: absolute;
    top: 121px;
    left: 14px;
}
.character-items .slot-shoe {
    position: absolute;
    top: 185px;
    left: 11px;
}
.character-items .slot-ring2 {
    position: absolute;
    top: 121px;
    left: 306px;
}
.character-items .slot-gloves {
    position: absolute;
    top: 185px;
    left: 309px;
}
.character-items .slot-waist {
    position: absolute;
    top: 247px;
    left: 37px;
}
.character-items .slot-neck {
    position: absolute;
    top: 247px;
    left: 283px;
}
.character-items .slot-weapon {
    position: absolute;
    top: 291px;
    left: 90px;
}
.character-items .slot-offhand {
    position: absolute;
    top: 291px;
    left: 229px;
}
.character-items .slot-awaken {
    position: absolute;
    top: 310px;
    left: 160px;
}

.character-items i {
    position: absolute;
    width: 100%;
    height: 100%;
}

.character-items i.item-none {
    border: 1px solid white;
    border-radius: 3px;
}


.character-stats {
    position: absolute;

    top: 425px;
    color: gold;
    font-weight: bolder;
    font-size: 3em;
    width: 100%;
    height: 100px;
}
.character-stats .stat {
    display: inline;
    width: 100px;
    text-align: center;
}
.character-stats .stat-ap {
    position: absolute;
    left: 0px;
}
.character-stats .stat-awaken-ap {
    position: absolute;
    left: 140px;
}
.character-stats .stat-dp {
    position: absolute;
    left: 270px;
}


.character-equipment {
    float: left;
    padding-left: 5px;
    width: 400px;
}
.character-equipment > div {
    display: none;
}